<a href="https://colab.research.google.com/github/alistechworld/Python_Practice_and_Practice/blob/main/100_Python_Problems.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# User input three ages . Find the oldest one
first_age = int(input("Enter the First Age :"))
second_age = int(input("Enter the Second Age :"))
third_age = int(input("Enter the Third Age :"))

if first_age > second_age and first_age > third_age:
    print("The Older Age is :", first_age)
elif second_age > first_age and second_age > third_age:
    print("The Older Age is :", second_age)
else:
    print("The Older Age is :", third_age)

Enter the First Age :1
Enter the Second Age :2
Enter the Third Age :2
The Older Age is : 2

In [ ]:
celseus = float(input("Enter the Value of celseus to find the value in faranheight:"))

faranheight = ((celseus * 9/5) + 32)

print("The Value of:", celseus, "in faraheight", faranheight)

Enter the Value of celseus to find the value in faranheight:2
The Value of: 2.0 in faraheight 35.6

In [ ]:
# Operators in python

In [ ]:
# Arithmetic Operator +, -, *, /, %, **, //
# Comparison Operator ==, !=, >, <, >=, <=
# Logical Operator and, or, not
# Bitwise Operator &, |, ^, ~, <<, >>
# Assignment =, +=, -=, *=, /=, %=, **=, //=
# Identity Operator is, is not
# Membership: in, not in

In [ ]:
# Arithmetic Oprator
x = 5
y = 10
print(x + y)
print(x - y)
print(x * y)
print(x / y)
print(x % y)
print(x ** y)
print(x // y)

15
-5
50
0.5
5
9765625
0

In [ ]:
# Comparison Operator
print(x > y)
print(x < y)
print(x >= y)
print(x <= y)
print(x == y)
print(x != y)

False
True
False
True
False
True

In [ ]:
# Logical Operator

In [ ]:
x = True
y = False
print(x and y)
print(x or y)
print(not x)
print(not y)

False
True
False
True

In [ ]:
# Bitwise Operators

In [ ]:
x = 2
y = 3
print(x & y)
print(x | y)
print(2 ^ 3)
print(x >> 2)
print(x << 3)
print(~ x)

2
3
1
0
16
-3

In [ ]:
# Assignment Operator

In [ ]:
a = 3
print(a)
a += 3
print(a)
a -= 3
print(a)
a *= 3
print(a)
a /= 3
print(a)
a = a + 3
a += 3

3
6
3
9
3.0

In [ ]:
# Identity Operatorys

In [ ]:
a = 3
b = 3
print(a is b)

a  = "Hello"
b = "Hello"
print(a is b)

a = "Hello-World"
b = "Hello-World"
print(a is b)
print(a is not b)

True
True
False
True

In [ ]:
# Membership Operators

In [ ]:
x = "Delhi"
print("D" in x)
print("D" not in x)

True
False

In [ ]:
x = [1, 2, 3]
print(1 in x)
print(5 in x)

True
False

In [ ]:
x = (1, 2, 3)
print(1 in x)
print(5 in x)

True
False

In [ ]:
# Sum of digits of a 3-digit number
number = int(input("Enter three digits:"))

# Unit Digit
a = number % 10
number //= 10

# Tens Digit
b = number % 10
number //= 10

# Hundreds Digit
c = number % 10

print(a + b + c)

Enter three digits:4
4

In [ ]:
# If-Else

In [ ]:
# Correct Email: ali@gmail.com
# Correct Password: 12345

email = input("Enter your email:")
if "@" in email:
  password = int(input("Enter the Password:"))

  if email == "ali@gmail.com" and password == 123:
    print("Welcom")
  elif email == "ali@gmail.com" and password != 123:
        print("Password Ghalat ha fir sa dalo:")
        password = int(input("Enter the password:"))
        if password == 123:
          print("Welcom")
        else:
          print("Still Incorrect")


  else:
    print("Credentials are Wrong! Try again")
else:
    print("Wrong Email!")

Enter your email:
Wrong Email!

In [ ]:
# Menue Driven Program

In [ ]:
a = int(input("Enter Your First Number:"))
b = int(input("Enter Your Second Number:"))
c = int(input("Enter Your Third Number:"))

if a < b and a < c:
  print("The Smallest Number is:", a)
elif b < a and b < c:
  print("The Smallest Number is:", b)
else:
  print("The Smallest Number is:", c)

In [ ]:
# 2. Menu-Driven Calculator
menu = input("""
Hi! how can I help you.
1. Enter 1 for pin change
2. Enter 2 for balance check
3. Enter 3 for withdrawl
4. Enter 4 for exit
""")

if menu == '1':
  print('pin change')
elif menu == '2':
  print('balance')
else:
  print('exit')

In [ ]:
# Swapping Nunbers

x = int(input("Enter the first number:"))
y = int(input("Enter the second number:"))

# Before Swapping the Numbers:
print("The Value of x:", x)
print("The Value of y:", y)


z = y
y = x
x = z
# After Swapping the Numbers:

print("The Value of x:", x)
print("The Value of y:", y)

In [ ]:
x = int(input("Enter the first digit:"))
y = int(input("Enter the second digit:"))
z = int(input("Enter the third digit:"))

sum = x + y + z
print("The Sum of three digits are:", sum)

In [ ]:
num = int(input("Enter the three digits:"))
a = num % 10
num = num// 10
b = num % 10
c = num // 10
print(a + b + c)

In [ ]:
# Indentation in python

In [ ]:
name = "xyz"
if name == "xyz":
  print("Line 1")
  print("Line 2")
else:
  print("Line 3")

In [ ]:
# While Loop

In [ ]:
# Repeat Code Block
# Iteration: Execute Same Code Repeatedly
# Executes while condition true
#

In [ ]:
# Print Multiplication Table
number = int(input("Enter the table number:"))

i = 1
while i <= 10:
  print(number, "*", i, "=", number * i )
  i += 1

In [ ]:
# While Loop With Else
x = 1
while x < 3:
  print(x)
  x += 1
print("Limit Exceed")

In [ ]:
# 2. Sum of Digits
number = int(input("Enter the number:"))
sum_digits = 0
while number > 0:
  digit = number % 10
  sum_digits += digit
  number //= 10
print(f"Sum of digits:{sum_digits}")

In [ ]:
# 3. Average of Numbers Until 0
count = 0
total = 0
while True:
  number = int(input("Enter a number (0 to stop):"))
  if number == 0:
    break
  total += number
  count += 1
if count > 0:
  average = total / count
  print(f"Average of entered numbers:{average}")
else:
  print("No numbers entered.")

In [ ]:
# Guessin Games

In [ ]:
import random

In [ ]:
random.randint(1, 100)

In [ ]:
jackpot = random.randint(1, 100)
guess = int(input("Enter the guess number:"))
counter = 1
while guess != jackpot:
  if guess < jackpot:
    print("Guess Higher")
  else:
    print("Guess Lower")
  guess = int(input("Enter the guess number:"))
  counter += 1
print("Sahii Jawab")
print("You took ", counter, "attempts")

In [ ]:
# For Loop

In [ ]:
# Range Function
range(1, 11)

In [ ]:
list(range(1, 11))

In [ ]:
list(range(5))

In [ ]:
list(range(15))

In [ ]:
list(range(1, 11, 2))

In [ ]:
list(range(1, 11, 3))

In [ ]:
list(range(10, 0, -1))

In [ ]:
["Lahore", "Karachi", "Ali"]

In [ ]:
("Lahore", "Karachi", "ali")

In [ ]:
{"Lahore", "Karachi", "Ali"}

In [ ]:
for i in range(1, 11):
  print(i)

In [ ]:
for i in range(1, 11, 2):
  print(i)

In [ ]:
for i in range(10, 0, -1):
  print(i)

In [ ]:
for i in "Lahore":
  print(i)

In [ ]:
for i in(1, 2, 3, 4,5):
  print(i)

In [ ]:
for i in {1, 2, 3, 4, 5}:
  print(i)

In [ ]:
# 1. Population Growth Calculation

# Initial Population: 10000
# Growth Rate: 10 % annually
# Duration: 10 years

curr_pop = 10000
for i in range(10, 0,  -1):
  print(i, curr_pop)
  curr_pop = curr_pop / 1.1

In [ ]:
# Nested Loops

In [ ]:
for i in range(1, 5):
  for j in range(1, 5):
    print(i, j)

In [ ]:
rows = int(input("Enter rows:"))
for i in range(1, rows + 1):
  for j in range(0, i):
    print("*", end=" ")
  print("")

In [ ]:
rows = int(input("Enter rows:"))
for i in range(1, rows  + 1):
  for j in range(1, i + 1):
    print(j, end="")
  for k in range(i-1, 0, -1):
    print(k, end="")
  print()

In [ ]:
# Loop Control Statement
# Break: Ends Loop immediately
# Continue: Skips to next iteration
# Pass: Placeholder; does nothing.

In [ ]:
for i in range(1, 11):
  if i == 5:
    break
  print(i)

In [ ]:
lower = 10
upper = 20
for i in range(lower, upper + 1):
  for j in range(2, i):
    if i % j == 0:
      break
  else:
    print(i)

In [ ]:
for i in range(1, 11):
  if i == 5:
    continue
  print(i)

In [ ]:
for i in range(1, 11):
  if i == 5:
    continue
  print(i)
  print("Hello")

In [ ]:
for i in range(1, 11):
  pass

In [ ]:
# Built in Functions in Python

In [ ]:
# 1. Print
print("Hello World")

In [ ]:
# 2. Input
input("Enter your Name:")

In [ ]:
# 3. type
a = 3
type(a)

In [ ]:
a = 3.5
type(a)

In [ ]:
a = True
type(a)

In [ ]:
# 4. int
int('5')
# Float
# str
# list
# tuple

In [ ]:
# 5. abs
abs(4)

In [ ]:
abs(-4)

In [ ]:
# 6. pow
pow(2, 3)

In [ ]:
pow(2, -3)

In [ ]:
# 7. min/max
min([2, 1, 3, 0])

In [ ]:
max([2, 1, 3, 0])

In [ ]:
min("Lahore")

In [ ]:
max("Lahore")

In [ ]:
# 8. round
c = 22/7
print(c)
round(c)

In [ ]:
round(c, 2)

In [ ]:
# 9. divmod
divmod(5, 2)

In [ ]:
# 10. bin/oct/hex
bin(4)

In [ ]:
oct(4)

In [ ]:
hex(4)

In [ ]:
# 11. id
a = 3
id(a)

In [ ]:
# 12. ord
ord('A')

In [ ]:
ord('a')

In [ ]:
# 13. len
len('Ali Nawaz')

In [ ]:
len([1, 2, 3])

In [ ]:
# 14. sum
sum([1, 2, 3, 4, 5])

In [ ]:
sum({1, 2, 3, 4, 5})

In [ ]:
# 15. help
help("print")

In [ ]:
# What are Modules?
# Code libraries in python
# Contain functions for use.
# Examples:
  # Math: Math ops
  # Random: Random numbers;
  # os: OS interaction
  # time: Time tasks

In [ ]:
help('modules')

In [ ]:
# Keyword module
import keyword
print(keyword.kwlist) # Reserved Keywords

In [ ]:
# Math Module
import math

In [ ]:
math.pi

In [ ]:
math.e

In [ ]:
math.factorial(5)

In [ ]:
math.ceil(6.3)

In [ ]:
math.floor(6.9)

In [ ]:
# Random Module

In [ ]:
import random

In [ ]:
random.randint(1, 100)

In [ ]:
a = [1, 2, 3, 4, 5]
random.shuffle(a)
a

In [ ]:
# Time Module

In [ ]:
import time

In [ ]:
time.time() # Current time (seconds)

In [ ]:
time.ctime() # Current time (string)

In [ ]:
print("Hello")
time.sleep(5)
print("World")

In [ ]:
# Datetime Module

In [ ]:
import datetime
print(datetime.datetime.now())

In [ ]:
# OS Module

In [ ]:
import os

In [ ]:
os.getcwd # Current Working dir

In [ ]:
os.listdir() # Files in dir

In [ ]:
# Strings in Python
# Seq. of Chars
# In python: Unicode Chars
# OPs:
  # Create
  # Access
  # Add Chars
  # Edit
  # Delete
  # Ops on Strings
  # String Functions

In [ ]:
# 1. Create

In [ ]:
c = "Hello"
print(c)

In [ ]:
c = 'Hello'
print(c)

In [ ]:
"It's raining outside"

In [ ]:
# Multiline String
c = """Hello"""
print(c)

In [ ]:
c = '''Hello'''
print(c)

In [ ]:
# 2. Access
# Accessing Substrings from a String

In [ ]:
# Concept of Indexing
c = "hello"
print(c)

In [ ]:
print(c[0])

In [ ]:
# Indexing Types:
  # Positive
  # Negative

In [ ]:
print(c[-1])

In [ ]:
# Slicing
c = "Hello World"
print(c)

In [ ]:
print(c[0:5])

In [ ]:
print(c[2:])

In [ ]:
print(c[0:4])

In [ ]:
print(c[:])

In [ ]:
print(c[2:6:2])

In [ ]:
print(c[2:8:3])

In [ ]:
print(c[0:6:-1])

In [ ]:
print(c)

In [ ]:
print(c[-5:-1])

In [ ]:
print(c[-5:-1:2])

In [ ]:
print(c[::-1])

In [ ]:
print(c[-1:-5:-1])

In [ ]:
# 3. Add Chars

In [ ]:
strings1 = "Hello"
strings2 = "World"

In [ ]:
new_string = strings1+" "+strings2
print(new_string)

In [ ]:
another_string = strings1 + ", How are you?"
print(another_string)

In [ ]:
# 4. Edit & 5. Delete

In [ ]:
c = "Hello"
print(c)

In [ ]:
# c[0] = 'x'

In [ ]:
# Strings are immutable data types

In [ ]:
c = 'World'
print(c)

In [ ]:
# c[5] = 'X'

In [ ]:
# Deletion
c

In [ ]:
del c

In [ ]:
# print(c)

In [ ]:
c = "Hello"

In [ ]:
print(c)

In [ ]:
# del c[0]

In [ ]:
# Operations On Strings

In [ ]:
# Arithmetic
"Hello" + " " + "World"

In [ ]:
print("*" * 50)

In [ ]:
print("Hello" * 4)

In [ ]:
# Relational
"Hello" == "World"

In [ ]:
"Hello" != "World"

In [ ]:
# Lexiographically
"Mumbai" > "Pune"

In [ ]:
"Lahore" < "Karachi"

In [ ]:
# Logical
"Hello" and "World"

In [ ]:
# ""    ----> False
# "Ali" ----> True

In [ ]:
"" and "Hello"

In [ ]:
"" or "World"

In [ ]:
"Hello" or "World"

In [ ]:
"Hello" and "World"

In [ ]:
not "Hello"

In [ ]:
print(not "Hello")

In [ ]:
# Loops on Strings

In [ ]:
c = "Hello World"
for i in c:
  print(i)

In [ ]:
for i in c[2:7]:
  print(i)

In [ ]:
for i in c[2:7:2]:
  print(i)

In [ ]:
for i in c[::-1]:
  print(i)

In [ ]:
# Membership
c

In [ ]:
'H' in c

In [ ]:
'h' in c

In [ ]:
"world" not in c

In [ ]:
# 7. String Functions
# 1. Common Functions
# len()
# max()
# min()
# sorted()

In [ ]:
c = "Lahore"
len(c)

In [ ]:
max(c)

In [ ]:
min(c)

In [ ]:
sorted(c)

In [ ]:
sorted(c, reverse=True)

In [ ]:
# 2. Capitalize/Title/Upper/Lower

In [ ]:
c

In [ ]:
c.capitalize()

In [ ]:
'it is raining today'.capitalize()

In [ ]:
'it is raining today'.title()

In [ ]:
c.upper().lower()

In [ ]:
"LAhore".swapcase()

In [ ]:
# 3. Count

In [ ]:
"it is raining ".count('i')

In [ ]:
"it is raining ".count('ing')

In [ ]:
"it is raining ".count('X')

In [ ]:
# 4. Find / Index

In [ ]:
"it is raining ".find("i")

In [ ]:
"it is raining ".find('n')

In [ ]:
"it is raining ".find('x')

In [ ]:
# 5. endswith / startswith

In [ ]:
"it is raining".endswith("g")

In [ ]:
"it is raining".endswith("ingf")

In [ ]:
"it is raining ".startswith("it")

In [ ]:
# 6. Format

In [ ]:
"Hello my name is {} and I am {}".format("Ali Nawaz", 22)

In [ ]:
"Hello my name is {0} and I am {1}".format("Ali Nawaz", 22)

In [ ]:
"Hello my name is {name} and I am {age}".format(name = "Ali Nawaz", age = 22)

In [ ]:
"Hello my name is {age} and I am {name}".format(name = "Ali Nawaz", age = 22)

In [ ]:
# 7. isalnum/isalpha/isdecimal/isdigit

In [ ]:
"FLAT20".isalnum() # Alphanumeric

In [ ]:
"FLAT20&".isalnum()

In [ ]:
"FLAT".isalpha() # Alphabetic

In [ ]:
"20".isdigit()

In [ ]:
"Hello World".isidentifier()

In [ ]:
# 8. Split

In [ ]:
"Who is the PM of Pakistan".split()

In [ ]:
"Who is the PM of Pakistan".split("PM")

In [ ]:
"Who is the PM of Pakistan".split("i")

In [ ]:
"Who is the PM of Pakistan".split("x")

In [ ]:
# 9. Join

In [ ]:
" ".join(['Who', 'is', 'the', 'PM', 'of', 'Pakistan'])

In [ ]:
"".join(['Who', 'is', 'the', 'PM', 'of', 'Pakistan'])

In [ ]:
"-".join(['Who', 'is', 'the', 'PM', 'of', 'Pakistan'])

In [ ]:
# 10 . Replace

In [ ]:
"Hi name is Ali Nawaz".replace("Ali", "Khalid")

In [ ]:
# 11. Strip

In [ ]:
name = "                         Ali               "
name.strip()

In [ ]:
"Hi" + name

In [ ]:
name.strip()

In [ ]:
# Example Programs

In [ ]:
# 1. Length of string without len()

s = (input("Enter the string:"))
counter = 0
for i in s:
  counter += 1
print("length of string is", counter)

In [ ]:
# 2. Extract username from email
# alinawaz@gmail.com --------> alinawaz
s = input("Enter the email:")
pos = s.index("@")
print(s[0:pos])

In [ ]:
# 3. Count character frequency in a string
s = input("Enter the email:")
term = input("What would like to search for :")
counter = 0
for i in s:
  if i == term:
    counter += 1
print("Frequency", counter)

In [ ]:
# 4. Remove Character from string
s = input("Enter the string:")
term = input("What would like to remove:")
result = ''
for i in s:
  if i != term:
    result += i
print(result)

In [ ]:
# 5. Check if a string is a palindrome
s = input("Enter the String:")
flag = True
for i in range(0, len(s)//2):
  if s[i] != s[len(s) - i - 1]:
    flage = False
    print("Not a Palindrome")
    break
if flag:
    print("Palindrome")

In [ ]:
# 6. Word Count Without split()
s = input("Enter the String:")
L = []
temp = ''
for i in s:
  if i != ' ':
    temp += i
  else:
    L.append(temp)
    temp = ''
L.append(temp)
print(L)

In [ ]:
# 7. Convert String to Title Case (no title())
s = input("Enter the Strings")
L = []
for i in s.split():
  L.append(i[0].upper() + i[1:].lower())
print(" ".join(L))

In [ ]:
# 8. Integer to String Conversion
number = int(input('enter the number: '))
digits = '0123456789'
result = ''
while number != 0:
  result = digits[number % 10] + result
  number //= 10
print(result)
print(type(result))

In [ ]:
# List
# Collection in python for sequence of diverse data types

In [ ]:
# List vs Array
# Array: Homogeneous; Contiguous memory; Fast; Numerical/Scientific use.
# List: Hetrogeneous; Non-contiguous memory; Programmer-friendly; General-purpose

In [ ]:
# Create
# Access
# Edit
# Add
# Delete
# Operations
# Functions

In [ ]:
# Array vs.Lists in Memory:
# Array:
  # int arr[50]; ---> 50 contiguous memory blocks.
  # Elements stored in binary form at consecutive address

# Lists:
  # list_example = [1, 2, 3] ----> Elements at different locations.
  # Stores references/pointers to elements, not the values

In [ ]:
# Proof ----->
L = [1, 2, 3]
print(id(L))
print(id(L[0]))
print(id(L[1]))
print(id(L[2]))
print(id(1))
print(id(2))
print(id(3))

In [ ]:
# List Characteristics
  # Ordered
  # Mutable
  # Hetrogeneous
  # Duplicates Allowed
  # Dynamic size
  # Nesting Supported
  # Indexable
  # Any Object type

In [ ]:
# 1. Create

In [ ]:
# Empty
L = []
L

In [ ]:
# 1D ---> Homo
L1 = [1, 2, 3, 4, 5]
L1

In [ ]:
# Hetrogenous
L2 = ["Hello", 4, 5, 6, True, 5 + 6j]
L2

In [ ]:
# Multidimentional list:
# 2D
L3 = [1, 2, 3, [4, 5]]
L3

In [ ]:
# 3D
L4 = [[[1, 2,], [3, 4], [[5, 6], [7, 8]]]]
L4

In [ ]:
# Using Type Conversion
L5 = list("Hello")
L5

In [ ]:
L6 = list()
L6

In [ ]:
# 2. Access

In [ ]:
L1

In [ ]:
L1[0]

In [ ]:
L1[-1]

In [ ]:
# Slicing

In [ ]:
L1[1:3]

In [ ]:
L1[::-1]

In [ ]:
L3

In [ ]:
L3[0]

In [ ]:
L3[-1]

In [ ]:
x = L3[-1]
x

In [ ]:
x[0]

In [ ]:
L3[-1][0]

In [ ]:
L3[-1][-1]

In [ ]:
L4

In [ ]:
L4[-1][-1][0]

In [ ]:
L4[0][1][1]

In [ ]:
# 3. Edit

In [ ]:
L1

In [ ]:
# Editing With Indexing
L1[0] = 100
L1

In [ ]:
L1[-1] = 500
L1

In [ ]:
# Editing with Slicing
L1[1:4] = [200, 300, 400]
L1

In [ ]:
# Add
  # append()
  # extend()
  # insert()

In [ ]:
L1

In [ ]:
L1.append(1000)

In [ ]:
L1

In [ ]:
L1.append("Hello")

In [ ]:
L1

In [ ]:
L1.extend([5000, 6000, 7000])
L1

In [ ]:
L1.append([5, 6])

In [ ]:
L1

In [ ]:
L1.extend("goa")
L1

In [ ]:
L1.insert(1, "world")
L1

In [ ]:
# 5. Delete

In [ ]:
# del
# .remove()
# .pop()
# .clear()

In [ ]:
L2

In [ ]:
del L2
L2

In [ ]:
del L1[0]
L1

In [ ]:
del L1[-4]
L1

In [ ]:
del L1[-3:]
L1

In [ ]:
L1.remove("Hello")
L1

In [ ]:
L1.pop()

In [ ]:
L1.pop()

In [ ]:
L1

In [ ]:
L1.clear()
L1

In [ ]:
# 6. Operations
  # Arithmetic
  # Membership
  # Loop

In [ ]:
L = [1, 2, 3, 4]
L1 = [5, 6, 7, 8]

In [ ]:
# Concatenation/Merge
L + L1

In [ ]:
L, L1

In [ ]:
L * 3

In [ ]:
# Loops
for i in L:
  print(i)

In [ ]:
L3

In [ ]:
for i in L3:
  print(i)

In [ ]:
4 in L3

In [ ]:
[4, 5] in L3

In [ ]:
# 7. Functions
# len()
# min()
# max()
# sorted()

In [ ]:
L

In [ ]:
len(L)

In [ ]:
min(L)

In [ ]:
max(L)

In [ ]:
sorted(L)

In [ ]:
sorted(L, reverse = True)

In [ ]:
L

In [ ]:
L.sort(reverse = True)

In [ ]:
L

In [ ]:
L.sort()

In [ ]:
L

In [ ]:
# count
L = [1, 2, 3, 4, 5, 1, 2, 3, 4, 1, 5]
L.count(5)

In [ ]:
L

In [ ]:
# index
L.index(5)

In [ ]:
# reverse
L = [2, 1, 5, 7, 0]
# permanently reverses the list
L.reverse()
print(L)

In [ ]:
# Sort (Vs Sorted)
L = [2, 1, 5, 7, 0]
print(L)
print(sorted(L))
print(L)
L.sort()
print(L)

In [ ]:
# Copy ----> shallow
L = [2, 1, 5, 7, 0]
print(L)
print(id(L))
L1 = L.copy()
print(L1)
print(id(L1))

In [ ]:
"hello how are you".title()

In [ ]:
# Title Case a String Without title()
sample = "how are you?"
sample.split()
L = []
for i in sample.split():
  L.append(i.capitalize())
print(L)
print(" ".join(L))
print(sample)

In [ ]:
sample = "ali@gmail.com"
print(sample[:sample.find("@")])

In [ ]:
L1 = [1, 1, 2, 2, 3, 3, 4, 4]
# Output: L2 = [1, 2, 3, 4]
L = []
for i in L1:
  if i not in L:
    L.append(i)
print(L)

In [ ]:
# List Comprehension

In [ ]:
L = [1, 2, 3, 4, 5, 6, 7]

In [ ]:
L1 = [item * 2 for item in L]
L1

In [ ]:
L2 = [i**2 for i in range(10)]
L2

In [ ]:
L3 = [i**2 for i in range(10) if i%2!=0]
L3

In [ ]:
fruits = ['Apple', 'Orange', 'Mango', 'Guava']
fruits

In [ ]:
L4 = [fruits for fruits in fruits if fruits[0] == "O" ]
L4

In [ ]:
# Add 1-10 to list
L = []
for i in range(1, 11):
  L.append(i)
print(L)

In [ ]:
L = [i for i in range(1, 11)]
print(L)

In [ ]:
# Scalar Multiplication
v = [2, 3, 4] # Vector
s = -3
# [-6, -9, -12]
[s*i for i in v]

In [ ]:
# Add squares
L = [1, 2, 3, 4, 5]
[i**2 for i in L]

In [ ]:
# # Languages starting with 'P'
# languages = ['java', 'python', 'php', 'c', 'javascript']
# [languages for language in lnaguages if language.startswith('p') ]

In [ ]:
# List Traversal
  # Itemwise
  # Indexwise

In [ ]:
# Itemwise
L = [1, 2, 3, 4]
for i in L:
  print(i)

In [ ]:
# Indexwise
L = [1, 2, 3, 4]
for i in range(0, len(L)):
  print(L[i])

In [ ]:
# Zip
  # zip() Function:

In [ ]:
# Tuples:
  # Immutable list-like collection
# Characteristics:
  # Ordered elements
  # Unmodifiable post-creation
  # Allows Duplicates

In [ ]:
# Create
# Access
# Edit
# Add
# Delete
# Operations
# Functions

In [ ]:
# 1. Create

In [ ]:
# Empty
T1 = ()
T1

In [ ]:
# Homo
T2 = (1, 2, 3, 4, 5)
T2

In [ ]:
# Hetro
T3 = ("Hello", 4, 5, 6)
T3

In [ ]:
# Tuple
T4 = (1, 2, 3, (4, 5))
T4

In [ ]:
T5 = (1)
T5

In [ ]:
type(T5)

In [ ]:
# Type Conversion
T5 = ("Hello")
type(T5)

In [ ]:
# Single-item tuple creation
T5 = ("Hello",)
type(T5)

In [ ]:
T6 = tuple("Goa")
T6

In [ ]:
T6 = tuple([1, 2, 3, 4])
T6

In [ ]:
# 2. Access
# Indexing
# Slicing

In [ ]:
T2

In [ ]:
T2[0]

In [ ]:
T2[-1]

In [ ]:
T2[:4]

In [ ]:
T4

In [ ]:
T4[-1][1]

In [ ]:
# 3. Edit

In [ ]:
L = [1, 2, 3, 4, 5]
L[0] = 100

In [ ]:
L

In [ ]:
T2

In [ ]:
T2[0] = 100
# Immutable, like strings

In [ ]:
# Tuples = immutable (like strings)

In [ ]:
# 4. Add
 # not possible
 # Tuples: immutable

In [ ]:
# 5. Delete

In [ ]:
T1

In [ ]:
del T1
T1

In [ ]:
T3

In [ ]:
T2

In [ ]:
del T2(-1)

In [ ]:
# Tuples are immutable

In [ ]:
# 6. Operations

In [ ]:
T2

In [ ]:
T3

In [ ]:
# + and *

In [ ]:
T2 + T3

In [ ]:
T2 * 3

In [ ]:
# iteration
for i in T2:
  print(i)

In [ ]:
# membership
1 in T2

In [ ]:
# 7. Functions

In [ ]:
len(T2)

In [ ]:
min(T2)

In [ ]:
max(T2)

In [ ]:
sum(T2)

In [ ]:
sorted(T2)

In [ ]:
sorted(T2, reverse = True)

In [ ]:
# Count
t = (1, 2, 3, 4, 5, 5)
t.count(5)

In [ ]:
# index
t.index(5)

In [ ]:
# List vs Tuples
# Syntax:
  # List: []
  # Tuples: ()

# Mutability:
  # List: Mutable
  # Tuples: Immutable

# Speed:
  # Lists: Slower(mutable)
  # Tuples: Faster(immutable)

# Memory:
  # Lists: Higher
  # Tuples: Lower

# Functionality:
  # Both: Indexing, slicing
  # Lists: More Methods

# Error-Prone:
  # Lists: Modifiable
  # Tuples: Safer

In [ ]:
# Sets:

In [ ]:
# Unordered, unique elements
# Set is mutable; elements are immutable
# Operations: Union, intersection, symmetric difference, etc.

In [ ]:
# Unordered
# Mutable
# Unique Elements
# No Mutable Data Types

In [ ]:
# Important Rules about Sets
  # No duplicates
  # No indexing/slicing
  # No Mutable Elements
  # Set is Mutable

In [ ]:
# Create
# Access
# Edit
# Add
# Delete
# Operations
# Functions

In [ ]:
# 1. Create

In [ ]:
# empty
S1 = {}
S1

In [ ]:
type(S1)

In [ ]:
# 1D & 2D Sets
S1 = {1, 2, 3, 4, 5} # 1D Set
S1

In [ ]:
# Homo and Hetro
S2 = {"Hello", 4.5, True}
S2

In [ ]:
# Type Conversion
s4 = set([1, 2, 3])
print(s4)

In [ ]:
# Duplicates not allowed
s3 = {1, 1, 2, 2, 3, 3}
s3

In [ ]:
s4 = {[1, 2, 3], "Hello"}
s4

In [ ]:
# set can't have mutable items
s6 = {1, 2, [3, 4]}
print(s6)

In [ ]:
# Sets have no indexing
# Hashing

In [ ]:
s5 = {{1}, {2}}

In [ ]:
s1 = {1, 2, 3}
s2 = {3, 2, 1}
print(s1 == s2)

In [ ]:
# 2. Access

In [ ]:
S1

In [ ]:
S1[0]

In [ ]:
S1[-1]

In [ ]:
S1[0:3]

In [ ]:
# 3. Edit

In [ ]:
S1[2] = 100

In [ ]:
S1

In [ ]:
id(S1)

In [ ]:
L = list(S1)
L

In [ ]:
L[0] = 100
L

In [ ]:
S1 = set(L)
S1

In [ ]:
id(S1)

In [ ]:
# 4. Add

In [ ]:
S1

In [ ]:
S1.add(6)

In [ ]:
S1

In [ ]:
id(S1)

In [ ]:
S1.update([5, 6, 7])
print(S1)

In [ ]:
# Delete
  # del
  # remove()
  # pop()
  # discard()
  # clear()

In [ ]:
S2

In [ ]:
del S2

In [ ]:
S2

In [ ]:
del S1[0]

In [ ]:
S1

In [ ]:
S1.remove(100)
S1

In [ ]:
S1.pop()
S1

In [ ]:
S1.pop()
S1

In [ ]:
S1.discard(7)
S1

In [ ]:
S1.clear()
S1

In [ ]:
# 6. Operations

In [ ]:
s1 = {1, 2, 3, 4, 5}
s2 = {3, 4, 5, 6, 7}

In [ ]:
s1 + s2

In [ ]:
s1 * 3

In [ ]:
# Iteration
for i in s1:
  print(i)

In [ ]:
# Membership
1 in s1

In [ ]:
1 not in s1

In [ ]:
s1 = {1, 2, 3, 4, 5}
s2 = {4, 5, 6, 7, 8}

In [ ]:
# Union(|)
s1 | s2

In [ ]:
# Intersection(&)
s1 & s2

In [ ]:
# Difference(-)
s1 - s2
s2 - s1

In [ ]:
# symmetric Difference(^)
s1 ^ s2

In [ ]:
# 7. Functions
  # len()
  # min()
  # max()
  # sorted()

In [ ]:
# Dictionary

In [ ]:
# Dictionary
  # Key-Value pairs: Data Mapping
  # Aliases: Map, Associative Array

In [ ]:
dict = {"name": "Ali", "age":"25", "gender": "male"}

In [ ]:
# Traits:
  # Mutable
  # No indexing
  # Unique Values
  # Immutable keys

In [ ]:
{"Name": "Ali", "Gender": "Male"}

In [ ]:
# 4 key rules about dictionaries
  # No Indexing: No index support
  # Mutable: Can modify post-creation
  # Keys: Immutable(str, num, tuple); Values: Any type
  # Unique Keys: Keys must be unique; overwrite on reassignment

In [ ]:
# 1. Create
# 2. Access
# 3. Edit
# 4. Add
# 5. Delete
# 6. Operations
# 7. Functions

In [ ]:
# 1. Create

# empty
D = {}
D

In [ ]:
# 1D dictionary
D = {"Name":"Ali", "Age": 25, "Gender": "Male"}

In [ ]:
D

In [ ]:
D1 = {[1, 2, 3,]: "Ali"}

In [ ]:
# with mixed keys
D1 = {(1, 2, 3):"Ali"}
D1

In [ ]:
# duplicate keys
D2 = {"Name": "Ali", "Name": "Nawaz"}
D2

In [ ]:
D3 = {"Name": "Ali", "Collage": "AGC", "Marks": {"M1": 99, "DS": 97, "Eng":98}}
D3

In [ ]:
# 2D dictionary ----> Json
s = {
    "Name": "Ali",
    "Collage": "AGC",
    "Semester": 2,
    "Subjects":{
        "DSA": 50,
        "Maths": 67,
        "English": 34
    }
}

In [ ]:
s

In [ ]:
# Mutable items as keys
D4 = {"name": "Ali", (1, 2, 3):2}
print(D4)

In [ ]:
# Using Sequence and dict function
D5 = dict([('name', 'ali'), ('age', 32), (3, 3)])
D5

In [ ]:
# 2. Access

In [ ]:
D

In [ ]:
D[0]

In [ ]:
D["Name"]

In [ ]:
D.get("Name")

In [ ]:
D["Gender"]

In [ ]:
D.get("Gender")

In [ ]:
D.get("Gender")

In [ ]:
D3

In [ ]:
# 3. Edit

In [ ]:
D

In [ ]:
D['Name'] = "AliNawaz"
D

In [ ]:
D3["Marks"]["DS"] = 10
D3

In [ ]:
# 4. Add
D

In [ ]:
D["Age"] = 22
D

In [ ]:
D3["Marks"]["M2"] = 95
D3

In [ ]:
# 5. Delete
D5 = {}
D5

In [ ]:
del D5
D5

In [ ]:
D.pop("Name")

In [ ]:
D.popitem()

In [ ]:
D

In [ ]:
del D["Age"]
D

In [ ]:
D.clear()
D

In [ ]:
# 6. Operations
D3

In [ ]:
D4

In [ ]:
D3 + D4

In [ ]:
D3 * 3

In [ ]:
D3

In [ ]:
# Iteration
for i in D3:
  print(i)

In [ ]:
for i in D3:
  print(i, D3[i])

In [ ]:
# Membership
"ali" in D3

In [ ]:
"Name" in D3

In [ ]:
# Functions
len(D3)
min(D3)
max(D3)
sorted(D3)
sorted(D3, reverse = True)
D3.items()
D3.keys()
D3.values()
# Update
d1 = {1:2, 3:4, 4:5}
d2 = {4:7, 6:8}
d1.update(d2)
print(d1)

In [ ]:
# int a
# int b
a = (input("Entr the first numbe:"))
b = (input("Enter the second number:"))
print(a + " + " + b +  " = " + (int(a) + int(b)))

In [ ]:
a = "3"
b = "5"
print(a + " + " + b + " = " + str(int(a) + int(b)))

In [ ]:
# Variable and Memory References

In [ ]:
# Python calls variable names
a

In [ ]:
# Call by Object Reference

In [ ]:
# Variable Assignment:
# a = 4
# a = 4: a points to memory location 4

In [ ]:
a = 4

In [ ]:
id(a)

In [ ]:
hex(10757832)

In [ ]:
id(4)

In [ ]:
# Aliasing

In [ ]:
a = 4
b = a
# aliasing

In [ ]:
id(a)

In [ ]:
id(b)

In [ ]:
# a & b references the same memory addresses

In [ ]:
c = b

In [ ]:
id(c)

In [ ]:
# What are Functions?
# Block of code for specific tasks.

In [ ]:
# Black Box Concept:
  # ignore internal code; focus on inputs/outputs

In [ ]:
# Advantages:
  # Reusability
  # Avoids Repetition

In [ ]:
# Two Key Points Regarding Functions:
  # 1. Abstraction:
    # Hides internal working
    # Users know "What" it does, not "how"
  # 2. Decomposition
    # Splits systems into modules
    # Each module offers functionality.
    # Modules can impact others

In [ ]:
# Components of a Function

# def function_name(parameters):
#   """docstring"""
#   statement(s)

# def  -----> Function Start
# Name -----> Function identifier.
# Params ---> Input Values
# Colon (:) ---> Ends header.
# Docstring ---> Function Description
# Body --------> Statements.
# return ------> Output Values(Optional)
# function_name(values)

In [ ]:
# Let's Creat a Function

In [ ]:
# Check if number is even/odd
def is_even(number):
    """
    This function tells if a given number is odd or even
    Input - any valid integer
    Output - odd/even
    Created By - Saurabh
    Last edited - 22 Oct 2022
    """
    if number % 2 == 0:
      return "Even"
    else:
      return "Odd"

In [ ]:
for i in range(1, 11):
  print(is_even(i))

In [ ]:
print(is_even.__doc__)

In [ ]:
print.__doc__

In [ ]:
type.__doc__

In [ ]:
# Functions: 2 Perspectives
  # 1. Creator's Perspective
  # 2. User's Perspective

In [ ]:
pwd

In [ ]:
import func_demo

In [ ]:
func_demo.is_even(34)

In [ ]:
func_demo.is_even("Hello")

In [ ]:
def is_even(number):
  if type(number) == int:
    if number % 2 == 0:
        return "Even"
    else:
        return "Odd"
  else:
      return "Not Allowed"

In [ ]:
import func_demo2 ad fd

In [ ]:
fd.is_even("Hello")

In [ ]:
# Parameters Vs Arguments

In [ ]:
# Parameters:
  # Vars in () during func defination...
  # Defined in func declaration.

In [ ]:
# def func(param1, param2):
  # Body

In [ ]:
# Arguments:
  # Values passed at func call
  # inputs during function invocation
  # func(arg1, arg2)

In [ ]:
# 1. Default Argument
# 2. Positional Argument
# 3. Keyword Argument
# 4. Arbitrary Argument(*args)

In [ ]:
def power(a, b):
  return a**b

In [ ]:
power(2, 3)

In [ ]:
power(3, 2)

In [ ]:
power(3)

In [ ]:
power()

In [ ]:
# # Default Argument: Function arguments with default values.
# def power(a =)

In [ ]:
# Local Variables and Global Variables
# Local Variables: Inside a Function
# Global Variables: Outside any function, in main program

In [ ]:
def g(y):
  print(x)
  print(x + 1)
x = 5
g(x)
print(x)

In [ ]:
def h(y):
  x += 1
x = 5
h(x)
print(x)

# Rule: Global Vars: accessed but not modified in function
# Concept 1: Global exist outside funcs, accessed by any func
# Concept 2: Funcs without local vars can use globals
# Concept 3: Locals access globals but can't modify

In [ ]:
# Explicitly Modifying Global Variables Locally
def h(y):
  global x
  x += 1
  return x
x = 5
h(x)
# print(x)

In [ ]:
# Complicated Scope
def f(x):
  x += 1
  print("in f(x): x =", x)
  return x
x = 3
z = f(x)
print("in main program scope: z", z)
print("in main program scope: x = ", x)

In [ ]:
# Nested Functions
def f():
  print("Inside f")
  def g():
    print("Inside g")
  g()

In [ ]:
f()

In [ ]:
g()
# Nested function stay abstracted/hidden from main program

In [ ]:
def f():
  print("Inside f")
  def g():
    print("Inside g")
    f()
  g()

f()

# Infinite Loop ----> Code will crash ---> Kernal Dead

In [ ]:
# Harder Scope
def g(x):
    def h():
        x = "abc"
    x += 1
    print("in g(x): x =", x)
    h()
    return x
x = 3
z = g(x)

In [ ]:
# Complicated Scope
def g(x):
    def h(x):
        x += 1
        print("in h(x): x =", x)
    x += 1
    print("in g(x): x =", x)
    h(x)
    return x
x = 3
z = g(x)
print("in main proram scope: x =", x)
print("in main program scope: z =", z)

In [ ]:
# Everything in Python is an Object
# Functions too
# Functions as objects

In [ ]:
def f(num):
  return num ** 2

In [ ]:
f(2)

In [ ]:
f(4)

In [ ]:
x = f # aliasing

In [ ]:
# since functions are objects just like int, str

In [ ]:
x(2)

In [ ]:
x(4)

In [ ]:
del f # Del functions in python

In [ ]:
f(2)

In [ ]:
x(2) # Call by object Reference

In [ ]:
type(x)

In [ ]:
L = [1, 2, 3, 4, 5]
L

In [ ]:
L = [1, 2, 3, 4, x]
L

In [ ]:
L[-1](-3) # sqr

In [ ]:
L = [1, 2, 3, 4, x(5)]
L

In [ ]:
# In Python, Functions behave like any other Data type.
# Can be assigned, passed, and returned.

In [ ]:
# So What ?
# Renaming Funcion: def new_name(old_name):
# Deleting Function: del func_name
# Storing Function: func_var = def_func()
# Returning Function: return func_name
# Function as Argument: def outer(func): func()

In [ ]:
# Function as argument/input
def func_a():
  print("Inside func_a")
def func_c(z):
  print("Inside func_c")
  return z()
print(func_c(func_a))

In [ ]:
# Returning a Function + Nested Calling
def f():
    def x(a, b):
        return a + b
    return x
val = f()(3, 4)
print(val)

In [ ]:
# Functions are First-Class Citizens in Python

In [ ]:
# type & id
def square(num):
  return num**2
type(square)
id(square)

In [ ]:
# reassign
x = square
id(x)
x(3)

In [ ]:
a = 2
b = a
b

In [ ]:
# Deleting Function
del square
square(3)

In [ ]:
# Storing
L = [1, 2, 3, 4, square]
L[-1](3)

In [ ]:
# Recursion
  # Function calls itself

In [ ]:
# Advantages:
  # No loops needed
  # Solves Problems without iteration
  # To understand recursion you must understand recurision

In [ ]:
# Iterative Vs Recursion

In [ ]:
# a * b
def multiply(a, b):
  result = 0
  for i in range(b):
    result += a
  print(result)
multiply(3, 4)

In [ ]:
# Recursion Method
# 1. Base Case: Define Stopping condition
# 2. Decompose: Break main problem into smaller subproblems

def mul(a, b):
  if b == 1:
    return a
  else:
    return a + mul(a, b-1)

In [ ]:
print(mul(3, 4))

In [ ]:
# Factorial via Recursion
def fact(number):
  if number == 1:
    return 1
  else:
    return number * fact(number - 1)
print(fact(5))

In [ ]:
# Palindrome
def palin(text):
  if len(text) <= 1:
    print("palindrome")
  else:
    if text[0] == text[-1]:
      palin(text[1:-1])
    else:
      print("Not a Palindrome")

In [ ]:
palin("madam")

In [ ]:
print(palin("malayalam"))
print(palin("python"))
print(palin("abba"))

In [ ]:
# The Rabbit Problem: Fibonacci Number
# Scenario ----> 2 newborn rabbits: 1 male + 1 female monthly
#                 Reproduction after 1 month, immortality.

def fib(m):
  if m == 0 or m == 1:
    return 1
  else:
    return fib(m-1) + fib(m-2)
print(fib(12)) # T = O(2^n)

# key concepts:
  # Fibonacci sequence
  # Reproduction Rate
  # Population Growth

In [ ]:
import time
start = time.time()
print(fib(12))
print(time.time() - start)

In [ ]:
# Memoization
# Memoization refers to remembering methods call results based on inputs
  # Returns cached results, avoiding recompution
  # Speeds up computations; stores previous results
  # Used in dynamic programming for recursive solutions
  # Reduces time complexity; avoids redundant calculations
  # Optimizes recursion algorithms by reusing results

In [ ]:
def memo(m, d):
    if m in d:
        return d[m]
    else:
        d[m] = memo(m-1, d) + memo(m-2, d)
        return d[m]
d = {0:1, 1:1}
print(memo(48, d))

In [ ]:
print(memo(48, d))
print(time.time() - start)

In [ ]:
print(d) # Dict in memory, execution time reduced

In [ ]:
# Recursive PowerSet Function in Python

# PowerSet: Given set S, return power set P(S) (all subsets of S).

# Input: String
# Output: Array of Strings (power set)

# Example: S = "123", P(S) = ['', '1', '2', '3', '12', '13', '23', '123']

def powerset1(xs):
    res = [[]]
    if len(xs) <= 0:
        return "Please Enter a parameter"
    if len(xs) == 1:
        res.append([xs[0]])
        return res
    else:
        z = []
        for i in powerset1(xs[1:]):
            z.append(i)
            z.append([xs[0]] + i)
        return z

final = powerset1('123')
print(final)
print(len(final))

In [ ]:
x = int(input("Enter your number:"))
if x == 1:
  print("Januaray")
elif x == 2:
  print("February")
elif x == 3:
  print("March")
elif x == 4:
  print("April")
elif x == 5:
  print("May")
elif x == 6:
  print("June")
elif x == 7:
  print("July")
elif x == 8:
  print("August")
elif x == 9:
  print("September")
elif x == 10:
  print("October")
elif x == 11:
  print("November")
elif x == 12:
  print("December")
else:
  print("Invalid Number")

In [ ]:
x = int(input("Enter Your Year Number (1-12): "))
months = {
    1: "January",
    2: "February",
    3: "March",
    4: "April",
    5: "May",
    6: "June",
    7: "July",
    8: "August",
    9: "September",
    10: "October",
    11: "November",
    12: "December"
}

if x in months:
  print("Months is:", months[x])
else:
  print("Invalid Number")

In [ ]:
# Lambda Functions

In [ ]:
# Anonymous Functions
# Single Expression Limit.
# Syntax: lambda input: expression
# Example: lambda a, b: a + b

In [ ]:
x = lambda x : x**2
x(9)

In [ ]:
x = lambda x : x + 5
x(5)

In [ ]:
a = lambda x, y: x + y
a(4, 5)

In [ ]:
z = lambda x, y : x - y
z(10, 5)

In [ ]:
type(a)

In [ ]:
type(z)

In [ ]:
# Lambda Function vs. Normal Function
# Lambda Function:
  # No return value
  # Written in single-line
  # Not used for code reusability
  # Anonymous/No name.

In [ ]:
# Normal Function:
  # Has a return value.
  # Multi-line
  # Encourages code reusability via named functions

In [ ]:
# Why?

# Lambda functions are Anonymous functions ---> `lambda args: expr`,
# ideal for Higher-order functions, offers Concise function writing without naming.

In [ ]:
# Higher Order Functions:

# Functions that take/return other functions.
# Useful for Abstraction, Code reuse.

# Enhances code modularity, readability.
# Encourages functional programming.

# Can lead to Complexity and Performance overhead (if overused).

In [ ]:
b = lambda x : x[0] == 'a'
b('apple')

In [ ]:
b('banana')

In [ ]:
x = lambda x : "Even" if x%2 == 0 else "Odd"
x(3)

In [ ]:
x(2)

In [ ]:
# HOF

In [ ]:
L = [11, 14, 27, 21, 23, 56, 78, 39, 45, 29, 28, 30]

# Even Sum
# Odd Sum
# Div3 Sum

def return_sum(L):
  even_sum = 0
  odd_sum = 0
  div3_sum = 0
  for i in L:
    if i%2 == 0:
      even_sum = even_sum + i
  for i in L:
    if i%2 != 0:
      odd_sum = odd_sum + i
  for i in L:
    if i%3 == 0:
      div3_sum = div3_sum + i
  return(even_sum, odd_sum, div3_sum)
print(return_sum(L))

In [ ]:
L = [11, 14, 27, 21, 23, 56, 78, 39, 45, 29, 28, 30]
def return_sum(func, L):
  result = 0
  for i in L:
    if func(i):
      result = result + i
  return result
x = lambda x: x%2 == 0 # Even Sum
y = lambda x: x%2 !=0 # Odd Sum
z = lambda x: x%3 == 0 # Div3 Sum
print(return_sum(x, L))
print(return_sum(y, L))
print(return_sum(z, L))

In [ ]:
# Higher Order Functions (HOF) accepts input + defination operation of function

In [ ]:
# Higher-Order Functions

In [ ]:
# 1. Map
# 2. Filter
# 3. Reduce

In [ ]:
# 1. Map
  # Applies a function to each item in iterable
  # Syntax:
# map(function, iterable)
# Return an Iterator of Result

In [ ]:
L = [1, 2, 3, 4, 5, 6, 7]
L

In [ ]:
map(lambda x: x * 2, L)

In [ ]:
list(map(lambda x: x * 2, L))

In [ ]:
list(map(lambda x : x % == 0, L))

In [ ]:
students = [
    {
        "name" : "Jacob Martin",
        "Father name" : "Ros Martin",
        "Address" : "123 Hills Street",
    },{
        "name" : "Angela Stevens",
        "Father name" : "Robert Stevens",
        "Address" : "3 Upper Street London",
    },{
        "name" : "Ricky Smart",
        "Father name" : "William Smart",
        "Address" : "Unknown",
    }

]
list(map(lambda student : student["name"], students))

In [ ]:
# 2. Filter
# Applies a function to sequence
# Syntax:
# Filter(function, sequence)
# Return elements where function in True.

In [ ]:
L

In [ ]:
n = 0
for i in range(0, 7):
    n = n + 2
    print(n)

In [ ]:
n = 500
for i in range(0, 10):
  n = n - 50
  print(n)

In [ ]:
n = 625
for i in range(4):
  print(n)
  n = n // 5

In [ ]:
#OOP Prepration

In [ ]:
# from collections.abc import ValuesView
# # Python ma class ka structure

# class calssName:
#   def __init__(self, arguments):
#     self.attributes = Values


#   def methodName(self):
#     # Code

In [ ]:
# __init__ Method:
# Jab bi koi nayaa object bantaa ha, yha method automatically call hota haa
# is ko he constructor khata haa

In [ ]:
# self
# self matlab yha current object
# yha automatically python data ha tkaa har object ka apna data hoo

In [ ]:
# Simple Example
class Students:
  def __init__(self, name, age):
    self.name = name
    self.age = age

  def show_info(self):
    print(f"{self.name} {self.age} year ka ha")

s1 = Students("Ali", 24)
s1.show_info()

In [ ]:
class Sum:
  def __init__(self, x, y):
    self.x = x
    self.y = y

  def addition(self):
    print(self.x + self.y)

  def subtract(self):
    print(self.x - self.y)

add = Sum(2, 3)
add.addition()

sub = Sum(2, 3)
sub.subtract()

In [ ]:
# 1 or program
class Calculator:
  def __init__(self, num):
    self.number = num

  def square(self):

    return self.number ** 2

  def cube(self):

    return self.number ** 3

cal = Calculator(4)
print("Square is:",cal.square())
print("Cube is:", cal.cube())

In [ ]:
# Write a program that will tell whether the given year is a leap year or not.
year = int(input("Enter the Year:"))
if year % 4 == 0:
  print(f"{year} is a Leap Year")
else:
  print(f"{year} is not a leap year")

In [ ]:
# Write a program to find the euclidean distance between two coordinates.
x1 = int(input("Enter the value of x1:"))
x2 = int(input("Enter the value of x2:"))
y1 = int(input("Enter the value of y1:"))
y2 = int(input("Enter the value of y2:"))
distance = ((x2 - x1)**2 + (y2 - y1)**2)**0.5
print("The distnce is :",  distance)

In [ ]:
# Class ka Andar Variable Scope
class Example:
  class_var = "Mn class ka Variable hoo"

  def __init__(self, data):
    self.instance_var = data

obje = Example("Instance Variable")
print(obje.class_var)
print(obje.instance_var)

In [ ]:
#
x = int(input("Enter the first Angle:"))
y = int(input("Enter the second Angle:"))
z = int(input("Enter the third Angle:"))
if x + y + z == 180:
  print("This is a Triangle")
else:
  print("This is Not a Triangle")

In [ ]:
# OOP ka next concept class ka bad inheritence

In [ ]:
# Inheritance ka matlab hota ha 1 class (child class) dosri class (parent class) ki properties aur methods warasit ma la lata haa

In [ ]:
# Example:
# Agar 1 wheekel class ha or os ma common cheeza ha:
# name.
# speed
# move() method
# to car, bus, bike ka liya hm yha sari cheeza inherit kar sakta ha hama dobara sa likhna ki zaroorat ni ha

In [ ]:
# Python ma inheritance ka code
# class Parent:
#   # parent class ka code
# class Child(Parent):
#   # child class jo parent ko inherit karti haa

In [ ]:
# Simple Inheritance Example
class Animal:
  def speak(self):
    print("Animal Speak")

class Dog(Animal):
  def bark(self):
    print("Dog Barks")

d = Dog()
d.speak()
d.bark()

In [ ]:
class Person:
    def __init__(self, name):
        self.name = name

    def show(self):
        print("Name:", self.name)

class Student(Person):
    def __init__(self, name, roll):
        super().__init__(name)  # Parent ka constructor call karo
        self.roll = roll

    def display(self):
        print("Roll No:", self.roll)

s1 = Student("Ali", 101)
s1.show()
s1.display()

In [ ]:
# Multilevel Inheritance
class A:
  def showA(self):
    print("Class A")

class B(A):
  def showB(self):
    print("Class B")

class C(B):
  def showC(self):
    print("Class C")
obj = C()
obj.showA()
obj.showB()
obj.showC()

In [ ]:
# Multiple Inheritance
class Father():
  def skills(self):
    print("Father: Gardening, Working ")
class Mother():
  def hobbies(self):
    print("Mother: Cooking, Reading")
class Child(Father, Mother):
  def my_skills(self):
    print("Child: Cricket, Pyhton")

obj = Child()
obj.skills()
obj.hobbies()
obj.my_skills()

In [ ]:
cp = int(input("Enter the cost price:"))
sp = int(input("Enter the selling price:"))
if cp < sp:
  print("You earn profit")
elif cp == sp:
  print("cost price and selling price is equal")
else:
  print("You earn loss")

In [ ]:
# Polymorphism kia hota haa?
# Polymorphism ka matlab hota haa 1 name or alaga alag behaviour
# Yani same function ka name ho sakta ha , lekin har class ma who alag tarha sa kam karta haa

In [ ]:
# # Real life example
# Ek function ha speak():
# Dog bola: "Bark Bark"
# Cat bola: "Menow Menow"

In [ ]:
# PYthon ma Polymorphism ki 2 main types haa:
# 1. Method Overriding:Parent class ka method child class ma dobara define karna
# 2. Duck Typing: Object ka behaviour os ka method pa depend karta ha naa ka os ki class par

In [ ]:
# 1. Method Overriding (Polymorphism via Inheritance)
class Animal():
  def speak(self):
    print("Animal Speaks")
class Dog(Animal):
  def speak(self):
    print("Dog Bark!")
class Cat(Animal):
  def speak(self):
    print("Cat Menow!")

animals = [Dog(), Cat()]

for animal in animals:
  animal.speak()

In [ ]:
# 2. Duck Typing (Polymorphism via Similar Interface)
class TextEditor:
  def execute(self):
    print("Running Text Editor")

class CodeEditor:
  def execute(self):
    print("Running Code Editor")

def run_program(software):
  software.execute()

editor1 = TextEditor()
editor2 = CodeEditor()

run_program(editor1)
run_program(editor2)

In [ ]:
p = int(input("Enter the Prinicipal price(Asal Raqam):"))
t = int(input("Enter the time in the form of year(1 sal , 2 sal ....):"))
r = float(input("Enter the interest rate (like 5% , 10% .....):"))

SIR = (p * t * r)/100
print(f"Your Simple Interest is: {SIR}")

In [ ]:
r = float(input("Enter the Radious to find the volume of sylander:"))
h = float(input("Enter the Height to find the volume of sylander:"))
pi = 3.1415
volume = pi * r**2 * h
print(f"The volume of the cylander after putting the value of h")

In [ ]:
# Object Oriented Programming
# OOP is a programming paradigm using objects &  classess

In [ ]:
# The Observation

In [ ]:
L = [1,2,3,5]

In [ ]:
L

In [ ]:
L.upper()

In [ ]:
city = 'Kolkata'

In [ ]:
city.append('a')

In [ ]:
a = 3

In [ ]:
a.upper()

In [ ]:
# Everything in python is an object
# But What is an Object
# What is OOP?
# The Problem
# Generality to Specificity
# The core Fundamental Feature of OOP.
# key Concepts of OOP:
  # Object
  # Class
  # Polymorphism
  # Encapsulation
  # Inheritance
  # Abstraction

In [ ]:
# CLASS
# Blueprint for objects
# Defines object behavior

In [ ]:
a = 2

In [ ]:
type(a)

In [ ]:
L

In [ ]:
# In python,
# Datatype = Class
# Variable = object of class

In [ ]:
# Class:
  # Attributes: Data/Properties
  # Methods: Functions/Behaviours

In [ ]:
# Class Basic Structure
class Car:
  color = "Blue"
  model = "Sports"
  def calculate_avg_speed(km, time): # method
    pass
  # Some Code

In [ ]:
# # Naming Conventions:

# Class names    ---> PascalCase

# Data/functions ---> snake_case

# # Examples:

# PascalCase     ---> ThisIsPascalCase

# CamelCase      ---> thisIsCamelCase

# snake_case     ---> snake_case

In [ ]:
# Class Representation:

# +-------------------------+
# |          - Car          |
# |-------------------------|
# |         - Color         |
# |        - mileage        | # attributes/data (private)
# |         - engine        |
# |-------------------------|
# |     + cal_avg_speed     |
# |     + open_airbags      | # methods/functions (public)
# |       + show_gps        |
# +-------------------------+

In [ ]:
# Object
# Object is an instance of a Class

# Class is the data type; Object is a variable of a Class

In [ ]:
# # Object Examples:

# 1. Car     ---> WagonR      | wagonr     = Car()
# 2. Sports  ---> Gilli Danda | gillidanda = Sports()
# 3. Animals ---> Langoor     | langoor    = Animals()

In [ ]:
L = [1, 2, 3] # Object Literal ---> Built-in classes

In [ ]:
L

In [ ]:
L = list()

In [ ]:
L

In [ ]:
city = str()

In [ ]:
city

In [ ]:
# Practical Implementation of class and object
# Lets Creat a Class

In [ ]:
# Function Vs Methods:

# Methods: Define inside a class
#     Accessed via object of the class

# Functions: Not inside a class, normal function
#       General, accessible everywhere

In [ ]:
# len(L)  Function
#         General-purpose, applicable to types like 'str', 'int'.

In [ ]:
# L.append(1)   # Method
#           Defined in List class; usable only with list objects.

In [ ]:
L

In [ ]:
# Functions Inside Class will be called Methods
class Atm:
  def __init__(self): # __init__ is a constructor

    self.pin = ""
    self.balance = 0

    self.menu()

  def menu(self):
      user_input = input("""
                  Hello, how would you like to proced?
                  1. Enter 1 to create pin
                  2. Enter 2 to deposit
                  3. Enter 3 to withdraw
                  4. Enter 4 to check balance
                  5. Enter 5 to exit

      """)


      if user_input == "1":
        self.create_pin()
      elif user_input == "2":
        print("Deposit Pin")
      elif user_input == "3":
        print("Withdraw the money")
      elif user_input == "4":
        print("Check Balance")
      else:
        print("By")

  def create_pin(self):
    self.pin = input("Enter your pin:")
    print("Pin Set Successfully")

  def deposit(self):
    temp = input("Enter your pin:")
    if temp == self.pin:
      amount = int(input("Enter the amount:"))
      if amount <= self.balance:
        self.balance = self.balance + amount
        print("Depost Successfully")
    else:
        print("Invalid Pin")

  def withdraw(self):
    temp = input("Enter your Pin:")
    if temp == self.pin:
      amount = int(input("Enter the amount:"))
      if amount <= self.balance:
        self.balance = self.balance - amount
        print("Operation Successfully")
      else:
        print("Invalid Pin")
    else:
      print("Invalid Pin")

  def check_balance(self):
    temp = input("Enter your pin")
    if temp == self.pin:
      print(self.balance)
    else:
      print("Invalid Pin")

In [ ]:
sbi = Atm()

In [ ]:
sbi.deposit()

In [ ]:
sbi.check_balance()

In [ ]:
hdfc = Atm()

In [ ]:
sbi.withdraw()

In [ ]:
hdfc = Atm()

In [ ]:
hdfc.deposit()

In [ ]:
hdfc.check_balance()

In [ ]:
# Constructor ----> Special/Magic/Dunder Method

In [ ]:
dir(int)

In [ ]:
# Magic Methods
# Predifined (e.g., __and__, __bool__, __float__)
# Triggered automatically, not called directly by objects.
# Constructor ia a magic method invoked during object creation.

In [ ]:
# # What is Utility of Costructor?

# Special Method auto-executed at app start.
# Handles -----> DB/Internet/Hardware Connectivity
#         # Initial Configuration

In [ ]:
# # Highly Philosophical Perspective:

# If World  == Class
#    God    == Programmer
#    Humans == Object

# Code Not Controlled by Humans == ?

# Breathing, Eating, Drinking is under human control

# But, ---> D E A T H

# Death is controlled by constructor (God)

# constructor's code includes death at birth

In [ ]:
# Self

In [ ]:
sbi = Atm()

In [ ]:
id(sbi)

In [ ]:
# sbi = self

In [ ]:
hdfc = Atm()

In [ ]:
id(hdfc)

In [ ]:
# hdfc = self

In [ ]:
id(sbi)

In [ ]:
# Self refers to the current object instance.

In [ ]:
# The Need of self
# class holds data & methods; access via object.
# self refers to current object; needed for inter-method/data access within a class
# Methods can't access other methods/data directly without self

In [ ]:
# Creating Custom Data Type (Fraction) & Corresponding Methods to Add, Sub, Mul and Divide Fraction

In [ ]:
class Fraction:

    def __init__(self, n, d):
        self.num = n
        self.den = d

    def __str__(self):
        return"{}/{}".format(self.num, self.den)

    def __add__(self, other):
        temp_num = self.num * other.den + other.num * self.den
        temp_den = self.den * other.den
        return"{}/{}".format(temp_num, temp_den)

    def __sub__(self, other):
        temp_num = self.num * other.den - other.num * self.den
        temp_den = self.den * other.den
        return"{}/{}".format(temp_num, temp_den)

    def __mul__(self, other):
        temp_num = self.num * other.num
        temp_den = self.den * other.den
        return"{}/{}".format(temp_num, temp_den)

    def __truediv__(self, other):
        temp_num = self.num * other.den
        temp_den = self.den * other.num
        return"{}/{}".format(temp_num, temp_den)

In [ ]:
x = Fraction(4, 5)

In [ ]:
print(x)

In [ ]:
type(x)

In [ ]:
y = Fraction(5, 6)

In [ ]:
print(y)

In [ ]:
L = [1, 2, 3, x]

In [ ]:
L

In [ ]:
rew
print(x + y)

In [ ]:
print(x - y)

In [ ]:
print(x * y)

In [ ]:
print(x / y)

In [ ]:
# Encapsulation
# Instance Variable
# Unique value per object
# Defined inside the constructor (e.g., self.pin, self.balance)
# Difference values for each object

In [ ]:
class Atm:
    __counter = 1 # static/class var

    def __init__(self): # `__init__` ---> Constructor
                        # Special method inside a class.
                        # Initializes instance members.
                        # Executes automatically on object creation.

        self.__pin = ""
        self.__balance = 0

        self.sno = Atm.counter # instance var
        Atm.__counter = Atm.__counter + 1
        print(id(self))
        # self.__menu()

    @staticmethod
    def get_counter():
        return Atm.__counter

    @staticmethod
    def set_counter(new):
        if type(new) == int:
            Atm.__counter = new
        else:
            print('Not Allowed')

    def get_pin(self):
        return self.__pin

    def set_pin(self, new_pin):
        if type(new_pin) == str:
            self.__pin = new_pin
            print("Pin changed")
        else:
            print("Not allowed")

    def __menu(self):
        user_input = input("""
                    Hello, how would you like to proceed?
                    1. Enter 1 to create pin
                    2. Enter 2 to deposit
                    3. Enter 3 to withdraw
                    4. Enter 4 to check balance
                    5. Enter 5 to exit
        """)
        if user_input == "1":
            self.create_pin()
        elif user_input == "2":
            self.deposit()
        elif user_input == "3":
            self.withdraw()
        elif user_input == "4":
            self.check_balance()
        else:
            print("bye")

    def create_pin(self):
        self.__pin = input("Enter your pin: ")
        print("Pin set successfully")

    def deposit(self):
        temp = input("Enter your pin: ")
        if temp == self.__pin:
            amount = int(input("Enter the amount: "))
            self.__balance = self.__balance + amount
            print("Deposit successful")
        else:
            print("Invalid pin")

    def withdraw(self):
        temp = input("Enter your pin: ")
        if temp == self.__pin:
            amount = int(input("Enter the amount: "))
            if amount <= self.__balance:
                self.__balance = self.__balance - amount
                print("Operation successful")
            else:
                print("insufficient funds")
        else:
            print("invalid pin")

    def check_balance(self):
        temp = input("Enter your pin: ")
        if temp == self.__pin:
            print(self.__balance)
        else:
            print("invalid pin")

In [ ]:
sbi = Atm()

In [ ]:
# Inheritance

In [ ]:
class Phone:
  def __init__(self, price, brand, camera):
    self.price = price
    self.brand = brand
    self.camera = camera

class SmartPhone(Phone):
  pass

s1 = SmartPhone(10000, "Apple", 13)

print(s1.price)
print(s1.brand)
print(s1.camera)

10000
Apple
13

In [4]:
import math

def clock_angle(h, m):
    # Step 1: Normalize hour (convert 12 to 0)
    h = h % 12

    # Step 2: Calculate angles
    minute_angle = m * 6  # each minute is 6 degrees
    hour_angle = h * 30 + m * 0.5  # each hour is 30 degrees, plus half degree per minute

    # Step 3: Find absolute difference
    angle = abs(hour_angle - minute_angle)

    # Step 4: Take minimum of the two possible angles
    min_angle = min(angle, 360 - angle)

    # Step 5: Take floor and return
    return math.floor(min_angle)

# Example usage:
h = int(input("Enter hour (0-12): "))
m = int(input("Enter minutes (0-59): "))

result = clock_angle(h, m)
print("Minimum angle between clock hands (floor value):", result)

Enter hour (0-12): 3
Enter minutes (0-59): 15
Minimum angle between clock hands (floor value): 7